<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104716456050-t3omc9n9t4h98nb3o2mgkumd9kpvcs8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104716456050-t3omc9n9t4h98nb3o2mgkumd9kpvcs8u</string>
	<key>API_KEY</key>
	<string>AIzaSyCDm5JWmIl5eHj3SpQYgZ9dzkYC_mcbuEs</string>
	<key>GCM_SENDER_ID</key>
	<string>104716456050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UChicago.FreeFinder</string>
	<key>PROJECT_ID</key>
	<string>freefinder-604e8</string>
	<key>STORAGE_BUCKET</key>
	<string>freefinder-604e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104716456050:ios:f7d38879a97d8b767032eb</string>
</dict>
</plist>